@import "bootstrap";

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  background-color: #efefef;
}
h1{
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
.main-game{
  text-align: center;
}
.reset-button {

  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin:4px 2px 2px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
.reset-button:hover {
  background-color: #555555;
  color: white;
}

.reset-button:focus{
  outline:none;
}
.status {
  margin-bottom: 15px;
}
.tile-grid{
  width: 100%;
  height: 100%;
}
.table-grid{
  margin: 0px auto;
}
.square-tile  {
  background: #fff;
  border: 2px solid #555555;
  font-size: 60px;
  font-weight: 100;
  line-height: 34px;
  height: 1.6em;
  padding:10px;
  margin:3px;
  text-align: center;
  width: 1.6em;
  box-shadow: 0px 0px 7px 0px;
  transition-duration: 0.1s;

}
.square-selected{
  background: #ddd;
  box-shadow: 0px 0px 0px 0px;
}
.square-tile:focus{
  outline:none;
}
